<% provide :title, t("home.home") %>
<h1><%= t "home.title" %></h1>
<p>
  <%= t "home.text.title" %>
  <%= link_to t("my_site"), "https://www.railstutorial.org/" %>
  <%= t "home.text.sample_application" %>
</p>
