<!doctype html>
<html lang="en">
<head>
  <title><%= t :Title %></title>
</head>
<body>
<%= link_to "English", locale: "en" %>
<%= link_to "Vietnamese", locale: "vi" %>
  <%= yield %>
</body>
</html>
